:root { 
  --black: #000000;
  --white: #ffffff;
  --wild-blue-yonder: #7c8db5;
 
  --font-size-l: 16px;
  --font-size-m: 14px;
  --font-size-xl: 28px;
 
  --font-family-poppins: "Poppins", Helvetica;
}
.poppins-normal-wild-blue-yonder-14px {
  color: var(--wild-blue-yonder);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.poppins-semi-bold-black-28px {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
}

.poppins-normal-black-16px {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}
